<div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
                {% for column in columns %}
                <th scope="col" 
                    class="{{ column.class }} {{ column.responsive_class if column.responsive_class else '' }}"
                    {% if column.sortable %}
                    hx-get="{{ url_for(routes.list, sort=('-' + column.key) if sort == column.key else column.key, search=search) }}"
                    hx-target="#manifest-table"
                    {% endif %}>
                    {{ column.label }}
                    {% if column.sortable %}
                        {% if sort == column.key %}
                        <span class="ml-1">↑</span>
                        {% elif sort == '-' + column.key %}
                        <span class="ml-1">↓</span>
                        {% endif %}
                    {% endif %}
                </th>
                {% endfor %}
                <th scope="col" class="relative w-20 px-6 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider bg-gray-50">
                    <span class="sr-only">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody id="manifestTableBody" class="bg-white divide-y divide-gray-200">
            {% include 'manifest/rows.html' %}
        </tbody>
    </table>
</div>
