<tr id="person-{{ person.id }}"
    class="bg-white border-b hover:bg-gray-50 cursor-pointer"
    hx-get="{{ url_for('get_id', id=person.id) }}"
    hx-target="#selected-id"
    hx-swap="innerHTML"
    hx-trigger="click"
>
  <td class="w-16 py-1 px-4 border-b border-gray-300 text-left">{{ person.id }}</td>
  <td class="py-1 px-2 border-b border-gray-300 text-left">{{ person.name }}</td>
  <td class="py-1 px-2 border-b border-gray-300 text-left">{{ person.age }}</td>
  <td class="py-1 px-2 border-b border-gray-300 text-right">
      <button class="bg-yellow-200 hover:bg-yellow-700 hover:text-white font-semibold text-xs py-1 px-2 rounded mr-2"
              hx-get="{{ url_for('edit', id=person.id) }}"
              hx-target="#modal"
              hx-swap="innerHTML"
              hx-trigger="click">
          Edit
      </button>
      <button class="bg-red-200 hover:bg-red-700 hover:text-white font-semibold text-xs py-1 px-2 rounded"
              hx-delete="{{ url_for('delete', id=person.id) }}"
              hx-target="#people-tbody"
              hx-swap="innerHTML">
          Delete
      </button>
  </td>
</tr>
