<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">CRUD App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/model-tree">Model Tree</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
<div class="container">
    <h1>User List</h1>
    
    <div class="row mb-3">
        <div class="col">
            <form method="get" class="form-inline">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" 
                           placeholder="Search..." value="">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-auto">
            <a href="#" 
               class="btn btn-success">Add New</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="#">
                        Name
                        
                    </a>
                </th>
                <th>
                    <a href="#">
                        Email
                        
                    </a>
                </th>
                <th>
                    <a href="#">
                        Password_hash
                        
                    </a>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>